
    <div id="MyAbout" class="container-fluid">
        <section id="about" class="content-section text-center">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>BlackHole</h2>
                <h4>Black Hole est un moba à la troisième personne. Le joueur contrôle un extraterrestre et rejoint une bataille contre neuf autres joueur en mode arena. Chaque joueur sera armé de trois sorts et un ultime.</h4>
            </div>
    </div>
    <div id="MyVideo" class="container-fluid">
        <section id="video" class="content-section text-center">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Video // <%= link_to "Add Video", videos_new_path %></h2>
                <% if @videoAll != nil%>
                    <% @videoAll.each do |v| %>
                        <% if v.visible %>
                            <iframe width="290" height="180" src="//www.youtube.com/embed/<%= v.link %>" frameborder="0" allowfullscreen></iframe>  
                        <% end %>
                    <% end %>
                <%end%>
            </div>
    </div>
	<!--        <a href="#download" class="btn btn-circle page-scroll">
	<i class="fa fa-angle-double-down animated"></i>
    </a>-->
    </section>
    <!-- Download Section -->
    <div id="MyDownload">
        <section id="download" class="container-fluid content-section text-center">
    	    <div class="col-lg-8 col-lg-offset-2">
    	        <h2>Download BlackHole</h2>
    	        <p>You can download BlackHole for free.</p>
    	        <a href="#" class="btn btn-large btn-primary"><i class="fa fa-download fa-fw"></i>Visit Download Page</a>
    	    </div>
    <!--        <a href="#contact" class="btn btn-circle page-scroll">
                <i class="fa fa-angle-double-down animated"></i>
            </a>-->
        </section>
    </div>
    <!-- Contact Section -->
    <div id="MyContact">
        <section id="contact" class="container-fluid content-section text-center">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Contact Staff</h2>
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="#" class="btn btn-large btn-primary"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li>
                        <li>
                            <a href="/messages/new" class="btn btn-large btn-primary"><i class="fa fa-envelope fa-fw"></i> <span class="network-name">Mail</span></a>
                        </li>
                    </ul>
                </div>
        </section>
    </div>

<script type="text/javascript">
$(document).ready(function(){
    $('a[href^="#"]').on('click',function (e) {
        e.preventDefault();

        var target = this.hash;
        $target = $(target);

        $('html, body').stop().animate({
            'scrollTop': $target.offset().top
        }, 2000, 'swing', function () {
            window.location.hash = target;
        });
    });
    $('#MyAbout').css("heigth", $(window).height());
    $('#MyVideo').css("heigth", $(window).height());
    $('#MyContact').css("heigth", $(window).height());
    $('#MyDownload').css("heigth", $(window).height());
});
</script>